@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
		--headcolor: #71835f;
}
body {
		font-family: 'Roboto', sans-serif;
		margin: 0;
		padding: 0;
		color: #32373C;
		background-color: #f9f9f9;
		text-align: center;
		scroll-behavior: smooth;
		scroll-snap-type: y proximity;
		overflow-y: scroll;
}

header {
		background-color: black;
		padding: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
}

.logo img {
		height: 100px;
		
}

section {
		padding: 60px 20px;
		margin: 0 auto;
		max-width: 800px;
}

section h1 {
		margin-bottom: 40px;
		color: #71835F;
		font-size: 36px;
}

section h2 {
		margin-top: 40px;
		margin-bottom: 20px;
		color: #4E4E4E;
		font-size: 28px;
		border-bottom: 2px solid #71835F;
		display: inline-block;
		padding-bottom: 10px;
}

section h3 {
		margin-top: 30px;
		margin-bottom: 15px;
		color: #6A6A6A;
		font-size: 22px;
}

.container {
		background-color: #fff;
		padding: 40px;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		text-align: left;
}

.container p {
		margin: 20px 0;
		font-size: 16px;
		line-height: 1.6;
}

.container a {
		color: #333333;
		text-decoration: none;
		transition: color 0.3s;
}

.container a:hover {
		color: #FED16E;
}

footer {
		background-color: black;
		color: #FED16E;
		text-align: center;
		padding: 20px;
		font-size: 12px;
}


footer .icons {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
}

footer .icons a {
		color: #FED16E;
		text-decoration: none;
		margin: 0 15px;
		font-size: 16px;
		transition: color 0.3s, font-size 0.3s;
}

footer .icons a:hover {
		color: #fff;
		font-size: 16px;
}
.icon {
		margin-right: 10px;
		font-size: 20px;
		vertical-align: middle;
		color: #71835F;
}

.copy {
		color: #FFFFFF;
		font-size: 14px;
}

@media (max-width: 768px) {
h1 {
font-size: 22px;
}

h2 {
font-size: 18px;
}

h3 {
font-size: 16px;
}

p, span, ul {
font-size: 16px;
}

.button-52 {
font-size: 14px;
padding: 10px 20px;
}

.nav-links a {
font-size: 16px;
}
}

.credit {
		font-family: "Roboto Mono", monospace;
		font-size: 13px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
}

.credit a {
		display: flex;
		align-items: center;
}

.img-credit {
		height: 20px;
		margin-left: 5px;
}

@media (max-width: 768px) {
.logo img {
height: 60px;
}
}
